body {
  width: 768px;
  height: 680px;
  border: solid black 3px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 8px;
  font-family: 'Source Sans Pro', sans-serif;
}


/*fonts*/

.intro {
  text-align: center;
  background-color: #01af94;
  height: 100px;
  width: 100%;
}

.welcome {
  padding-top: 100px;
  background-color: #01af94;
  position: absolute;
  width: 768px;
  height: 580px;
  overflow: hidden;
  text-align: center;
}

#avatar {
  position: absolute;
  top: 0%;
  right: 3%;
  width: 100px;
  height: 120px;
  background-image: url('bothead.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 15px 0;
  display: none;
}


#username {
  position: absolute;
  bottom: 10%;
  height: auto;
  color: white;
  font-size: 12px;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  color: white;
}

h2 {
  padding: 10px;
  padding-bottom: 0px;
  font-size: 24px;
  color: white;
}

h3 {
  text-align: center;
  padding-bottom: 0px;
  font-color: dark gray;
}

.explain {
  position: absolute;
  top: 15%;
  left: 23%;
}

#title {
  color: black;
  text-align: center;
}
span {
  color: white;
  text-align: center;
  font-size: 36px;
}

.back {
  margin-left: 20px;
}

/*field*/

table {
  margin-top: 75px;
  width: 600px;
  height: 600px;
  float: right;
  border-collapse: collapse;
  table-layout: fixed;
}

td, tr {
  border: black 1px solid;
  margin: 0;
}

tr {
  height: 50px;
}
/*form*/

form {
  position: absolute;
  width: 600px;
  left: 10%;
  display: inline-block;
}

.form-field {
  text-align: left;
  margin-bottom: 10px;
  left: 10%;
}

li {
  list-style: none;
  font-size: 18px;
}

label {
  font-size: 24px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
}

input {
  width: 200px;
  height: 30px;
  border-radius: 3px;
  font-size: 18px;
  margin-bottom: 10px;
}

.play-buttons {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  float: center;
  margin-top: 20px;
  display: none;
}

#logout-button, #help, #playnow {
  cursor: pointer;
}

#logout-button:hover, #playnow:hover, #help:hover {
  transform: translate(3px, 3px);
}

#submitbutton {
  width: 120px;
  height: 40px;
  position: absolute;
  left: 35%;
  font-size: 18px;
  font-style: bold;
  margin: 10px;
  color: white;
  background-color: #01af94;
  border: white solid 3px;

}

#address {
  width: 300px;
}

#password {
  width: 255px;
}

#lite {
  margin-top: -20px;
}

.play {
  width: 100px;
  height: 30px;
  position: relative;
  top: 250px;
  left: 130px;
  font-size: 18px;
}

#logo {
  width: 60%;
  height: auto;
  margin-top: 80px;
}

#headlogo {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 20%;
}

.robot-container {
  position: absolute;
  width: 600px;
  height: auto;
  left: 27%;
  top: 33%;
}

.robot {
  height: 250px;
  width: 125px;
  float: left;
  padding-left: 40px;
  padding-top: 50px;
  display: inline-block;
  clear: both;
}

.text-editor {
  width: 250px;
  height: 300px;
  background-color: gray;
  float: left;
  margin-top: 50px;
  border-radius: 10px;
  display: inline-block;
  overflow:;
}

.text-editor2 {
  width: 250px;
  height: 300px;
  background-color: gray;
  float: left;
  margin-top: 50px;
  border-radius: 10px;
  display: inline-block;
}

.instruction {
  width: 120px;
  height: 100px;
  text-align: center;
}

.text-editor p, .text-editor2 p {
  font-family: 'Courier';
  padding-left: 30px;
}

#move-forward-button {
  padding: 20px;
}

#turn-right-button {
  padding: 20px;
}

.walk-forward {
  width: 115px;
  height: 192px;
  background: url("images/walk_forward.png");
}

.walk-forward.active {
  width: 115px;
  height: 192px;
  background: url("images/walk_forward.png");
  animation: play .8s steps(4);
  -webkit-animation: play .8s steps(4);
  -o-animation: play .8s steps(4);
}

@keyframes play {
  100% {
    background-position: -360px;
  }
}

.robot2 {
  height: 250px;
  width: 130px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 40px;
  float: left;
  text-align: center;
}

.rotate-right {  
  width: 125px;
  height: 192px;
  padding-left: 0px;
  background: url("rotate_right.png");
}

.rotate-right.active {
  animation: play 1s steps(4);
  -webkit-animation: play 1s steps(4);
  -o-animation: play 1s steps(4);
}

@keyframes play {
  100% {
    background-position: -500px;
  }
}

#movebot {
  position: absolute;
  top: 5%;
  left: 32%;
  width: 100px;
}

.header {
  width: 768px;
  border-radius-top: 10px;
  background-color: #01af94;
  height: 10%;
  position: absolute;
}

ul {
  float: right;
  display: inline-block;
  position: absolute;
  top: 6%;
  right: 4%;
}

ul li {
  display: inline;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: bold;
}

.back {
  display: inline;
  padding-left: 20px;
  position: absolute;
  font-size: 18px;
  top: 30%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: bold;
  float: left;
}

.field {
  max-width: 768px;
}

.sidebar {
  background-color: gray;
  float: left;
  display: block;
  width: 168px;
  height: 680px;
}

.instructions {
  position: relative;
  text-align: center;
  padding-top: 80px;
}

.arrow {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.arrow:hover {
  transform: scale(1.2);
}

.count {
  text-align: center;
}

#number {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin: 0 auto;
}

#burgerbox {
  background-image: url('burger.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -20px;
  animation: burgeranimate 1s infinite;
}

@keyframes burgeranimate {
  from { 
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8); 
  }
  to { 
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

#downexit {
  position: absolute;
  bottom: 5%;
  left: 35%;
}





